
<div class="jumbotron">
        <div class="container">
          <h1>Find a movie</h1>
          <p>Search for a movie using the form below</p>
          <form (submit)="searchMovies()">
              <input type="text" class="form-control" [(ngModel)]="searchStr" name="searchStr" placeholder="Search Movie">
              <br>
              <button class="btn btn-primary btn-lg">
                  Find
              </button>
          </form>
        </div>
      </div>

<div *ngIf="searchRes" class="row">
    <div *ngFor="let movie of searchRes; let i = index;"
        class="col-md-3">
        <div *ngIf="i < 8">
            <div 
                class="card" 
                style="width: 14rem">
                <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top" alt="{{ movie.original_title }}">
                <div class="card-body">
                    <h6 class="card-title">{{ movie.title }}</h6>
                    <p class="card-text">{{ movie.release_date }}</p>
                    <button href="" class="btn btn-secondary">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Popular Movies</h2>
<div class="row">
    <div *ngFor="let movie of popularMovies; let i = index;"
        class="col-md-3">
        <div *ngIf="i < 8">
            <div 
                class="card" 
                style="width: 14rem">
                <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top" alt="{{ movie.original_title }}">
                <div class="card-body">
                    <h6 class="card-title">{{ movie.title }}</h6>
                    <p class="card-text">{{ movie.release_date }}</p>
                    <button href="" class="btn btn-secondary">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>In Theaters Now</h2>
<div class="row">
    <div *ngFor="let movie of theaterMovies; let i = index;"
        class="col-md-3">
        <div *ngIf="i < 8">
            <div 
                class="card" 
                style="width: 14rem">
                <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="card-img-top" alt="{{ movie.original_title }}">
                <div class="card-body">
                    <h6 class="card-title">{{ movie.title }}</h6>
                    <p class="card-text">{{ movie.release_date }}</p>
                    <button href="" class="btn btn-secondary">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>